@font-face {
    font-family: 'font2';
    src: url('./KGBlankSpaceSketch.eot');
    src: url('./KGBlankSpaceSketch.eot') format('embedded-opentype'), url('./KGBlankSpaceSketch.woff2') format('woff2'), url('./KGBlankSpaceSketch.woff') format('woff'), url('./KGBlankSpaceSketch.ttf') format('truetype'), url('./KGBlankSpaceSketch.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'font3';
    src: url('./Gidole-Regular.otf');
    
}
@font-face {
    font-family: 'font1';
    src: url('./Handycheera.otf') format('truetype');
}
/* general styles */

html,
body {
    height: 100%;
    width: 100%;
}



.row {
    margin: 0;
}
.borders {
    /* background-color: hsla(0, 0%, 7%, 0.25);;  */
    
    font-family: font1;
    font-size: 1em;
    color: black;
    /* padding: 18px; */
}
.border {
    /* background-color: hsla(0, 0%, 7%, 0.25);;  */
    
    font-family: font2;
    /*font-family: 'Lato', sans-serif;
    font-family: 'Abril Fatface', cursive;*/
    font-size: 2.5em;
    color: black;
    /* padding: 18px; */
}

@media only screen and (min-device-width: 784px) {
     .border {
        font-size: 3.5em !important;
    }
    .borders {
        font-size: 1.5em !important;
    }
    a {
        font-size: 2vw !important;
        color: white;
    }
    
}
#aboutme {
   
    /*background-color: rgba(195, 178, 178, 0.26);*/
	 background: url(./img.jpg) no-repeat center center fixed;
    background-blend-mode: lighten;
    display: table;
	height: 100%;
    color: rgba(0, 0, 0, 0.74901960784313);
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home {
    
    /* background-color: rgba(195, 178, 178, 0.26); */
    /* background-blend-mode: lighten; */
    background: url(./img1.jpg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    color: white;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* for large screen*/
@media only screen and (min-width: 1025px) {
	 #home {
    background: url(./img1-md.jpg) no-repeat center center ;
    }
     #aboutme {
        background: url(./img-about.jpg) no-repeat center center fixed;
     }
}
/* for medium-large size screen*/
@media only screen and ( min-width: 801px) and (max-width: 1024px) {
    #home {
    background: url(./img1-md.jpg) no-repeat center center ;
    }
    #aboutme {
        background: url(./img-about.jpg) no-repeat center center fixed;
    }
}

/* for medium size screen*/
@media only screen and ( min-width: 501px) and (max-width: 800px) {
     #home {
    background: url(./img1-sm.jpg) no-repeat center center ;
    }
	 #aboutme {
        background: url(./img-about.jpg) no-repeat center center fixed;
    }
     .border {
        font-size:2.5em;
    }

    #aboutme p {
        background: rgba(0, 0, 0, 0.4);
        font-size: 1.2em !important;
    }
}

/* for small size screen*/
@media only screen and (min-width:401px ) and ( max-width: 500px) {
     #home {
        background: url(./img1-xs.jpg) no-repeat center center ;
    }
    #aboutme {
        background: url(./img-about-mobile.jpg) no-repeat center center fixed;
    }
}

/* for extra small size screen*/
@media only screen  and (max-width: 400px) {
    #home {
        background: url(./img1-xs.jpg) no-repeat center center ;
    }
    #aboutme {
        background: url(./img-about-mobile1.jpg) no-repeat center center fixed;
    }
}


@media only screen and (max-device-width: 500px) {
    #aboutme p {
        font-size: 0.6em !important;
        padding: 5%;
    }
    .circle {
        font-family: font2 !important;
        font-size: 15px !important;
    }
    .circle p {
        margin-top: 10vh !important;
    }
    #headericon div{
    /*background: rgba(93, 86, 187, 0.44);*/
    font-size: 75% !important;
    }
	.border {
        font-size: 1.5em !important;
    }
    .borders {
        font-size: 0.8em !important;
    }
}
.circle p {
    margin-top: 9vh;
}
.circle hover {
    color: red;
    cursor: pointer;
}


.circle {
    height: 25vh;
    text-align: center;
    font-family: font2;
    font-size: 20px;
    border: solid 1px #555;
    background-color: rgba(238, 238, 221, 0.72);
    box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    cursor:pointer;
}

.skillheader{
        font-family: 'Merienda One', cursive;
    text-align: center;
    color: rgba(90, 50, 50, 0.67);
    margin-bottom: 5%;
    font-size:40px;
}
.share {
    z-index: 999;
    color: white;
    box-shadow: 0px 10px 5px #888888;
    background: hsla(240, 0%, 7%, 0.67);
    /*margin: 0 1vw;*/
    padding: 0;
    list-style: none;
    font-size: 25px;
    position: fixed
}


.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



#middleabout {
    background: url(./about.jpg) no-repeat center center fixed;
    background-color: rgba(195, 178, 178, 0.26);
    background-blend-mode: lighten;
    display: table;
    height: 50%;
    color: white;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#skills {
    background: url(./skills.jpg) no-repeat center center fixed;
    background-color: rgba(195, 178, 178, 0.26);
    background-blend-mode: lighten;

    display: table;
    height: 100%;
    color: white;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#project {
    background: url(./project.jpg) no-repeat center center fixed;
    /* background-color: rgba(195, 178, 178, 0.26); */
    background-blend-mode: lighten;

    display: table;
    height: 100%;
    color: white;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.skillbar-bar {
	height:20px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

a {
    font-size: 3vw;
    color: black;
}
/*.circle:hover {
    cursor:pointer;
}*/
